
.nav-bar {
    list-style: none;
    padding: 15px;
}
.nav-left {
    display: inline-block;
}
.nav-right {
  float: right !important;
}

.nav-bar > li {
    position: relative;
    display: block;
}

@media (min-width: 768px) {
    .nav-right {
        float: right;
        /*margin-right: -15px;*/
    }
    .nav-bar>li {
        float: left;
    }
}

.brand-logo {
  vertical-align: middle;
}

.brand-logo-text {
  margin-left: 10px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-off {
    margin-left: 0;
    margin-right: 0;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
