
/* Things to config */


//== Typography
//
//## Font, line-height, heading
$font-family: 'Sans';

$t-normal: 16px; /* 1.6em; 16 x 1 = 16px */
$t-smaller: 11pt;
$line-height: 26px;

//== Colors
//
//## Gray and brand colors for use.
$grey-bg-1 : #f8f8f8;
$grey-bg-2: #f6f7f8;
$grey-border: #dedede;
$grey: #e5e5e5;
$grey-2: rgba(127,137,148,0.6);

$white: #fff;
$black: #000;

$t-small-percent: 70%;
$t-big-percent: 130%;

$ma-space-px: 15px;
$pa-space-px: 15px;

$p-improved-max-width: 470px;

$li-space-right: 13px;
$li-space-left: 13px;
$li-space-top: 13px;
$li-space-bottom: 13px;
// Why 13 ? I don't know...

//== _skins.scss
//
// Color to skins for complete version
$butt-border-radius: 3px;
$butt-padding: 6px 14px;
//$butt-font-size-px: 14px;
//$butt-font-size-rem: 1.4rem;

$butt-blue-background-color: #2B65EC;
$butt-blue-background-color-hover: #2B45EF;
$butt-blue-background-color-focus: #6495ED;
$butt-blue-box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);

$butt-space-margin: 0.7222rem;
$butt-space-padding: 0.7222rem 1.4444rem;

$danger-background-color: rgba(212,13,18,0.2);
$danger-border-color: rgba(148,9,13,0.5);
$danger-color: #D8000C;

$warning-background-color: rgba(214,119, 0, 0.2);
$warning-border-color: rgba(214, 119, 0, 0.5);
$warning-color: #B87928;

$success-background-color: rgba(10,164,6,0.2);
$success-border-color: rgba(7,139,2,0.5);
$success-color: rgba(0,0,0,0.6);

$inform-background-color: #F8F8F9;
$inform-border-color: rgba(0,0,0, 0.3);
$inform-color: rgba(0,0,0,.87);

$inform-blue-background-color: #F8FFFF;
$inform-blue-border-color: #A9D5DE;
$inform-blue-color: #276F86;

// == noClaCss
//
//

$c-blue: blue;
$c-red: red;
$c-green: green;

$bg-white: #fff;
$bg-grey: rgba(127,137,148,0.06);
$bg-black: #000;
