@import "vars"; /* for variables */

.box {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px; // or 0.25em;
    padding: 10px;
    margin-bottom: 12px;
}

// danger
.danger {
    background-color: $danger-background-color;
    border-color: $danger-border-color;
    color: $danger-color;
}

// warning
.warning {
    background-color: $warning-background-color;
    border-color: $warning-border-color;
    color: $warning-color;
}

// success
.success {
    background-color: $success-background-color;
    border-color: $success-border-color;
    color: $success-color;
}

// inform boxes
.inform {
  background-color: $inform-background-color;
  border-color: $inform-border-color;
  color: $inform-color;
}

.inform-blue {
  background-color: $inform-blue-background-color;
  border-color: $inform-blue-border-color;
  color: $inform-blue-color;
}


.butt {
  border-radius: .28571429rem;
  padding: 0.65em 2.4em;
  border: none;
}
.butt-big {
    display: inline-block;
    //padding: $butt-space-padding ;
    text-decoration: none;
    border: none;
    padding: 0.6457em 0.92857143em;
    font-size: 1.4em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: .25em;
    color: #000;


    //box-shadow: $butt-blue-box-shadow;
    //border-radius: $butt-border-radius; // or 0.25em;
    &:focus {
        background-color: rgba(0, 0, 0, 0.025);
    }
}


.butt-blue {
    background-color: $butt-blue-background-color;
    border: 1px solid $butt-blue-background-color;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    color: $white;
    //font-size: $butt-primary-font-size-px; /* if not recognizing rem */
    //font-size: $butt-primary-font-size-rem;
    &:hover {
     background-color: $butt-blue-background-color-hover;
     border: 1px solid $butt-blue-background-color-hover;
    }
    &:focus {
      background-color: $butt-blue-background-color-focus;
      border: 1px solid $butt-blue-background-color-focus;
    }
}

.butt-space {
   margin: $butt-space-margin;
   padding: $butt-space-padding;
}
.butt-space-margin {
  margin: $butt-space-margin;
}
.butt-space-padding {
    padding: $butt-space-padding;
}
