/* Things to config */
/* 1.6em; 16 x 1 = 16px */
/* for variables */
/* color
    ================================================== */
.c_blue {
  color: blue;
}

.c_white {
  color: #fff;
}

.c_grey {
  color: rgba(127, 137, 148, 0.6);
}

.c_black {
  color: #000;
}

.c_red {
  color: red;
}

.c_green {
  color: green;
}

/* background-color
    =================================================== */
.bg_white {
  background-color: #fff;
}

.bg_grey {
  background-color: rgba(127, 137, 148, 0.06);
}

.bg_black {
  background-color: #000;
}

/* font-weight
    =================================================== */
.f-weight_100 {
  font-weight: 100;
}

.f-weight_200 {
  font-weight: 200;
}

.f-weight_300 {
  font-weight: 300;
}

.f-weight_400 {
  font-weight: 400;
}

.f-weight_500 {
  font-weight: 500;
}

.f-weight_600 {
  font-weight: 600;
}

/* margin
    =================================================== */
.ma_0 {
  margin: 0;
}

.ma_5 {
  margin: 5px;
}

.ma_10 {
  margin: 10px;
}

.ma_15 {
  margin: 15px;
}

.ma_20 {
  margin: 20px;
}

.ma_25 {
  margin: 25px;
}

.ma_30 {
  margin: 30px;
}

.ma_35 {
  margin: 35px;
}

.ma_40 {
  margin: 40px;
}

.ma_45 {
  margin: 45px;
}

.ma_50 {
  margin: 50px;
}

.ma-l_5 {
  margin-left: 5px !important;
}
.ma-r_5 {
  margin-right: 5px !important;
}
.ma-t_5 {
  margin-top: 5px !important;
}
.ma-b_5 {
  margin-bottom: 5px !important;
}
.ma-rl_5 {
  margin-right: 5px !important;
  margin-left: 5px !important;
}
.ma-tb_5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.ma-l_10 {
  margin-left: 10px !important;
}
.ma-r_10 {
  margin-right: 10px !important;
}
.ma-t_10 {
  margin-top: 10px !important;
}
.ma-b_10 {
  margin-bottom: 10px !important;
}
.ma-rl_10 {
  margin-right: 10px !important;
  margin-left: 10px !important;
}
.ma-tb_10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.ma-l_15 {
  margin-left: 15px !important;
}
.ma-r_15 {
  margin-right: 15px !important;
}
.ma-t_15 {
  margin-top: 15px !important;
}
.ma-b_15 {
  margin-bottom: 15px !important;
}
.ma-rl_15 {
  margin-right: 15px !important;
  margin-left: 15px !important;
}
.ma-tb_15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.ma-l_20 {
  margin-left: 20px !important;
}
.ma-r_20 {
  margin-right: 20px !important;
}
.ma-t_20 {
  margin-top: 20px !important;
}
.ma-b_20 {
  margin-bottom: 20px !important;
}
.ma-rl_20 {
  margin-right: 20px !important;
  margin-left: 20px !important;
}
.ma-tb_20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.ma-l_25 {
  margin-left: 25px !important;
}
.ma-r_25 {
  margin-right: 25px !important;
}
.ma-t_25 {
  margin-top: 25px !important;
}
.ma-b_25 {
  margin-bottom: 25px !important;
}
.ma-rl_25 {
  margin-right: 25px !important;
  margin-left: 25px !important;
}
.ma-tb_25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.ma-l_30 {
  margin-left: 30px !important;
}
.ma-r_30 {
  margin-right: 30px !important;
}
.ma-t_30 {
  margin-top: 30px !important;
}
.ma-b_30 {
  margin-bottom: 30px !important;
}
.ma-rl_30 {
  margin-right: 30px !important;
  margin-left: 30px !important;
}
.ma-tb_30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.ma-l_35 {
  margin-left: 35px !important;
}
.ma-r_35 {
  margin-right: 35px !important;
}
.ma-t_35 {
  margin-top: 35px !important;
}
.ma-b_35 {
  margin-bottom: 35px !important;
}
.ma-rl_35 {
  margin-right: 35px !important;
  margin-left: 35px !important;
}
.ma-tb_35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.ma-l_40 {
  margin-left: 40px !important;
}
.ma-r_40 {
  margin-right: 40px !important;
}
.ma-t_40 {
  margin-top: 40px !important;
}
.ma-b_40 {
  margin-bottom: 40px !important;
}
.ma-rl_40 {
  margin-right: 40px !important;
  margin-left: 40px !important;
}
.ma-tb_40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.ma-l_45 {
  margin-left: 45px !important;
}
.ma-r_45 {
  margin-right: 45px !important;
}
.ma-t_45 {
  margin-top: 45px !important;
}
.ma-b_45 {
  margin-bottom: 45px !important;
}
.ma-rl_45 {
  margin-right: 45px !important;
  margin-left: 45px !important;
}
.ma-tb_45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.ma-l_50 {
  margin-left: 50px !important;
}
.ma-r_50 {
  margin-right: 50px !important;
}
.ma-t_50 {
  margin-top: 50px !important;
}
.ma-b_50 {
  margin-bottom: 50px !important;
}
.ma-rl_50 {
  margin-right: 50px !important;
  margin-left: 50px !important;
}
.ma-tb_50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

/* padding
    =================================================== */
.pa_0 {
  padding: 0;
}

.pa_5 {
  padding: 5px;
}

.pa_10 {
  padding: 10px;
}

.pa_15 {
  padding: 15px;
}

.pa_20 {
  padding: 20px;
}

.pa_25 {
  padding: 25px;
}

.pa_30 {
  padding: 30px;
}

.pa_35 {
  padding: 35px;
}

.pa_40 {
  padding: 40px;
}

.pa_45 {
  padding: 45px;
}

.pa-l_5 {
  padding-left: 5px !important;
}
.pa-r_5 {
  padding-right: 5px !important;
}
.pa-t_5 {
  padding-top: 5px !important;
}
.pa-b_5 {
  padding-bottom: 5px !important;
}
.pa-rl_5 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.pa-tb_5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.pa-l_10 {
  padding-left: 10px !important;
}
.pa-r_10 {
  padding-right: 10px !important;
}
.pa-t_10 {
  padding-top: 10px !important;
}
.pa-b_10 {
  padding-bottom: 10px !important;
}
.pa-rl_10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.pa-tb_10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.pa-l_15 {
  padding-left: 15px !important;
}
.pa-r_15 {
  padding-right: 15px !important;
}
.pa-t_15 {
  padding-top: 15px !important;
}
.pa-b_15 {
  padding-bottom: 15px !important;
}
.pa-rl_15 {
  padding-right: 15px !important;
  padding-left: 15px !important;
}
.pa-tb_15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.pa-l_20 {
  padding-left: 20px !important;
}
.pa-r_20 {
  padding-right: 20px !important;
}
.pa-t_20 {
  padding-top: 20px !important;
}
.pa-b_20 {
  padding-bottom: 20px !important;
}
.pa-rl_20 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.pa-tb_20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.pa-l_25 {
  padding-left: 25px !important;
}
.pa-r_25 {
  padding-right: 25px !important;
}
.pa-t_25 {
  padding-top: 25px !important;
}
.pa-b_25 {
  padding-bottom: 25px !important;
}
.pa-rl_25 {
  padding-right: 25px !important;
  padding-left: 25px !important;
}
.pa-tb_25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.pa-l_30 {
  padding-left: 30px !important;
}
.pa-r_30 {
  padding-right: 30px !important;
}
.pa-t_30 {
  padding-top: 30px !important;
}
.pa-b_30 {
  padding-bottom: 30px !important;
}
.pa-rl_30 {
  padding-right: 30px !important;
  padding-left: 30px !important;
}
.pa-tb_30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.pa-l_35 {
  padding-left: 35px !important;
}
.pa-r_35 {
  padding-right: 35px !important;
}
.pa-t_35 {
  padding-top: 35px !important;
}
.pa-b_35 {
  padding-bottom: 35px !important;
}
.pa-rl_35 {
  padding-right: 35px !important;
  padding-left: 35px !important;
}
.pa-tb_35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.pa-l_40 {
  padding-left: 40px !important;
}
.pa-r_40 {
  padding-right: 40px !important;
}
.pa-t_40 {
  padding-top: 40px !important;
}
.pa-b_40 {
  padding-bottom: 40px !important;
}
.pa-rl_40 {
  padding-right: 40px !important;
  padding-left: 40px !important;
}
.pa-tb_40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.pa-l_45 {
  padding-left: 45px !important;
}
.pa-r_45 {
  padding-right: 45px !important;
}
.pa-t_45 {
  padding-top: 45px !important;
}
.pa-b_45 {
  padding-bottom: 45px !important;
}
.pa-rl_45 {
  padding-right: 45px !important;
  padding-left: 45px !important;
}
.pa-tb_45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.pa-l_50 {
  padding-left: 50px !important;
}
.pa-r_50 {
  padding-right: 50px !important;
}
.pa-t_50 {
  padding-top: 50px !important;
}
.pa-b_50 {
  padding-bottom: 50px !important;
}
.pa-rl_50 {
  padding-right: 50px !important;
  padding-left: 50px !important;
}
.pa-tb_50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
