/* This file is SCSS-free. CSS only. */
/* OUUTDATED VERSOP, CHECK https://stabla.github.io/Basesign/ TO HAVE MOST RECENT VERSION */

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-size: calc(1em * 0.625);
    /* fix for IE. */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: sans-serif;
    font-size: 14px; /* for browsers not understanding rem */
    font-size: 1.4rem;
}

/*
 * Responsive
 *
 */

@media (max-width: 768px) {
  body {
    font-size: 1.6em !important;
    font-size: 1.6rem !important;
  }

  textarea {
    font-size: 1.6em !important;
    font-size: 1.6rem !important;
  }

  .bigger-t {
    /*
     * If you use 16px for body, we change the size for biggest in responsive.
     */
    font-size: 1.8em !important;
    font-size: 1.8rem !important;
  }
  .bigger-t textarea {
    font-size: 1.8em !important;
    font-size: 1.8rem !important;
  }

  h1,
  .h1, .normal-s h1, .normal-s .h1 {
    font-size: 48px !important;
    /* for browsers not understanding rem */
    font-size: 4.8541rem !important;
  }

  h2,
  .h2, .normal-s h2, .normal-s .h2 {
    font-size: 40px !important;
    /* for browsers not understanding rem */
    font-size: 4.04508rem !important;
  }

  h3,
  .h3, .normal-s h3, .normal-s .h3 {
    font-size: 32px !important;
    /* for browsers not understanding rem */
    font-size: 3.23607rem !important;
  }

  h4,
  .h4,.normal-s h4, .normal-s .h4 {
    font-size: 26px !important;
    /* for browsers not understanding rem */
    font-size: 2.61803rem !important;
  }

  h5,
  .h5, .normal-s h5, .normal-s .h5 {
    font-size: 22px !important;
    /* for browsers not understanding rem */
    font-size: 2.18435rem !important;
  }

  .bigger-h h1,
  .bigger-h .h1 {
    font-size: 56px !important;
    /* for browsers not understanding rem */
    font-size: 5.6rem !important;
  }
  .bigger-h h2,
  .bigger-h .h2 {
    font-size: 48px !important;
    /* for browsers not understanding rem */
    font-size: 4.8rem !important;
  }
  .bigger-h h3,
  .bigger-h .h3 {
    font-size: 42px !important;
    /* for browsers not understanding rem */
    font-size: 4.2rem !important;
  }
  .bigger-h h4,
  .bigger-h .h4 {
    font-size: 32px !important;
    /* for browsers not understanding rem */
    font-size: 3.2rem !important;
  }
  .bigger-h h5,
  .bigger-h .h5 {
    font-size: 26px !important;
    /* for browsers not understanding rem */
    font-size: 2.6rem !important;
  }

  p,
  a {
    line-height: 1.4 !important;
  }

  p {
    max-width: none !important;
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}

/*
 * If you want 16px for body instead of 14px;
 */

.normal-t {
  font-size: 14px; /* for browsers not understanding rem */
  font-size: 1.4em;
  font-size: 1.4rem;
}

.normal-t textarea {
    font-size: 1.4em;
    font-size: 1.4rem;
    overflow: auto;
}

.bigger-t {
    font-size: 16px; /* for browsers not understanding rem */
    font-size: 1.6em;
    font-size: 1.6rem;
}

textarea {
    font-size: 1.4em;
    font-size: 1.4rem;
    overflow: auto;
}

.bigger-t textarea {
    font-size: 1.6em;
    //font-size: 16px; /* for browsers not understanding rem */
    font-size: 1.6rem;
}


/*
 *    Improve behavior. HTML5 display-role reset for older      *    browsers
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
}

:focus {
    outline: 0;
}


/*
 *    Improve size of small tag. big tag is a obsolete element.
 */

small {
    font-size: 80%;
}


/*    = h
 *    Setting nice size for h1, h2, h3, h4, h5.
 */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    margin: 0;
    padding: 0;
    font-weight: inherit;
}

h1,
.h1, .normal-s h1, .normal-s .h1 {
    //font-size: 80.9px;
    //font-size: 5.056em; // 80.9 // 80px /* for browsers not understanding rem */
    //font-size: 1.6180339 * 5em;
    font-size: 48px;
    font-size: 4.8rem;

}

h2,
.h2, .normal-s h2, .normal-s .h2 {
    //font-size: 64px; /* for browsers not understanding rem */
    //font-size: 1.6180339 * 4em;
    font-size: 40px;
    font-size: 4rem;
}

h3,
.h3, .normal-s h3, .normal-s .h3 {
    // font-size: 48px; /* for browsers not understanding rem */
    //font-size: 1.6180339 * 3em;
    font-size: 32px;
    font-size: 3.2rem;
}

h4,
.h4, .normal-s h4, .normal-s .h4 {
    //font-size: 32px; /* for browsers not understanding rem */
    //font-size: 1.6180339 * 2rem;
    font-size: 26px;
    font-size: 2.6rem;
}

h5,
.h5, .normal-s h5, .normal-s .h5 {
    //font-size: 28px; /* for browsers not understanding rem */
    //font-size: 1.6180339 * 1.6180339rem;
    font-size: 22px;
    font-size: 2.2rem;
}


.bigger-h h1,
.bigger-h .h1 {
  font-size: 80px;
  /* for browsers not understanding rem */
  font-size: 8.09017rem;
}
.bigger-h h2,
.bigger-h .h2 {
  font-size: 64px;
  /* for browsers not understanding rem */
  font-size: 6.47214rem;
}
.bigger-h h3,
.bigger-h .h3 {
  font-size: 48px;
  /* for browsers not understanding rem */
  font-size: 4.8541rem;
}
.bigger-h h4,
.bigger-h .h4 {
  font-size: 32px;
  /* for browsers not understanding rem */
  font-size: 3.23607rem;
}
.bigger-h h5,
.bigger-h .h5 {
  font-size: 28px;
  /* for browsers not understanding rem */
  font-size: 2.61803rem;
}

p,
a {
    line-height: 155%;
    /* I wanted 160%, but 150% is fine too, so 150% */
}

p {
    word-wrap: break-word;
    word-break: break-word;
}

a {
    background-color: transparent;
}

a:hover,
a:active {
    outline: none;
}

a img {
    border: 0;
}

img {
    border-style: none;
}


/*
 * Correct display IE10-.
 */

[hidden],
template {
    display: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

li p,
li ul {
    margin-bottom: 0;
    margin-top: 0;
}


/*
 * Correct table readibility.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* padding to make the table readable. */

th,
td {
    padding: 0.3em;
}


/* distinguishing table headers from data cells. */

th {
    font-weight: bold;
    text-align: center;
}


/*
 * 1. Coordinated marking to match cell's padding.
 *
 * 2. Centered so it doesn't blend in to other content.
 */

caption {
    margin-bottom: .5em;
    /* 1 */
    text-align: center;
    /* 2 */
}

input,
select {
    vertical-align: middle;
}


/*
 * Avoid radio, checkboxes, img misbehavior.
 * And improve displaying in IE.
 */

input[type="radio"],
input[type="checkbox"],
input[type="image"] {
    background-color: transparent;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    /* Saf 5.1+, IE 8+, Op 9+  */
    width: auto;
}


/* From normalise.css
 *
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input
/* 1 */

{
    overflow: visible;
}


/* From normalise.css
 *
 * Remove the inheritance of text transform in Edge, Firefox and IE.
 *
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select
/* 1 */

{
    text-transform: none;
}


/** From normalize.css
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"],

/* 1 */

[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}


/*
 * Improve input's appereance.
 *
 * Make it more pleasant
 *
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input,
textarea {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #333;
    outline: none;
    line-height: 20px;
    min-height: 34px;
    padding: 6px 14px;
    vertical-align: middle;
}

input[type=file], input[type=color] {
    border: none;
}

input[type=text],
input[type=number],
input[type=button],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=url],
input[type=week] {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

input[type=submit] {
    background-color: #2B65EC;
    background-position: right 8px center;
    border: 1px solid #2B65EC;
    color: #fff;
    padding: 6px 14px;
    &:focus {
        background-color: #6495ED;
        border: 1px solid #6495ED;
    }
}

@-moz-document url-prefix() {
    .selector {
        color: lime;
    }
}


/*
 * Fix font-family for next tags.
 *
 */

pre,
code,
kbd,
samp,
tt {
    font-family: monospace, monospace;
}

xmp {
    white-space: pre-wrap;
    word-break: break-all;
}
