/* line 1, ../sass/cr_grid.scss */
.row {
  width: 100%;
}

/* line 5, ../sass/cr_grid.scss */
.row .center {
  margin: 0 auto;
  display: block;
  float: none;
}

/* line 17, ../sass/cr_grid.scss */
.cl-1, .cl-s-1, .cl-xs-1, .cl-2, .cl-s-2, .cl-xs-2, .cl-3, .cl-s-3, .cl-xs-3, .cl-4, .cl-s-4, .cl-xs-4, .cl-5, .cl-s-5, .cl-xs-5, .cl-6, .cl-s-6, .cl-xs-6, .cl-7, .cl-s-7, .cl-xs-7, .cl-8, .cl-s-8, .cl-xs-8, .cl-9, .cl-s-9, .cl-xs-9, .cl-10, .cl-s-10, .cl-xs-10, .cl-11, .cl-s-11, .cl-xs-11, .cl-12, .cl-s-12, .cl-xs-12 {
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 27, ../sass/cr_grid.scss */
.cl-1 {
  width: 8.33333%;
}

/* line 30, ../sass/cr_grid.scss */
.cl-offset-1 {
  margin-left: 8.33333%;
}

/* line 27, ../sass/cr_grid.scss */
.cl-2 {
  width: 16.66667%;
}

/* line 30, ../sass/cr_grid.scss */
.cl-offset-2 {
  margin-left: 16.66667%;
}

/* line 27, ../sass/cr_grid.scss */
.cl-3 {
  width: 25%;
}

/* line 30, ../sass/cr_grid.scss */
.cl-offset-3 {
  margin-left: 25%;
}

/* line 27, ../sass/cr_grid.scss */
.cl-4 {
  width: 33.33333%;
}

/* line 30, ../sass/cr_grid.scss */
.cl-offset-4 {
  margin-left: 33.33333%;
}

/* line 27, ../sass/cr_grid.scss */
.cl-5 {
  width: 41.66667%;
}

/* line 30, ../sass/cr_grid.scss */
.cl-offset-5 {
  margin-left: 41.66667%;
}

/* line 27, ../sass/cr_grid.scss */
.cl-6 {
  width: 50%;
}

/* line 30, ../sass/cr_grid.scss */
.cl-offset-6 {
  margin-left: 50%;
}

/* line 27, ../sass/cr_grid.scss */
.cl-7 {
  width: 58.33333%;
}

/* line 30, ../sass/cr_grid.scss */
.cl-offset-7 {
  margin-left: 58.33333%;
}

/* line 27, ../sass/cr_grid.scss */
.cl-8 {
  width: 66.66667%;
}

/* line 30, ../sass/cr_grid.scss */
.cl-offset-8 {
  margin-left: 66.66667%;
}

/* line 27, ../sass/cr_grid.scss */
.cl-9 {
  width: 75%;
}

/* line 30, ../sass/cr_grid.scss */
.cl-offset-9 {
  margin-left: 75%;
}

/* line 27, ../sass/cr_grid.scss */
.cl-10 {
  width: 83.33333%;
}

/* line 30, ../sass/cr_grid.scss */
.cl-offset-10 {
  margin-left: 83.33333%;
}

/* line 27, ../sass/cr_grid.scss */
.cl-11 {
  width: 91.66667%;
}

/* line 30, ../sass/cr_grid.scss */
.cl-offset-11 {
  margin-left: 91.66667%;
}

/* line 27, ../sass/cr_grid.scss */
.cl-12 {
  width: 100%;
}

/* line 30, ../sass/cr_grid.scss */
.cl-offset-12 {
  margin-left: 100%;
}

@media (max-width: 780px) {
  /* line 38, ../sass/cr_grid.scss */
  .cl-s-1 {
    width: 8.33333%;
  }

  /* line 41, ../sass/cr_grid.scss */
  .cl-offset-1 {
    margin-left: inherit;
  }

  /* line 44, ../sass/cr_grid.scss */
  .cl-s-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 38, ../sass/cr_grid.scss */
  .cl-s-2 {
    width: 16.66667%;
  }

  /* line 41, ../sass/cr_grid.scss */
  .cl-offset-2 {
    margin-left: inherit;
  }

  /* line 44, ../sass/cr_grid.scss */
  .cl-s-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 38, ../sass/cr_grid.scss */
  .cl-s-3 {
    width: 25%;
  }

  /* line 41, ../sass/cr_grid.scss */
  .cl-offset-3 {
    margin-left: inherit;
  }

  /* line 44, ../sass/cr_grid.scss */
  .cl-s-offset-3 {
    margin-left: 25%;
  }

  /* line 38, ../sass/cr_grid.scss */
  .cl-s-4 {
    width: 33.33333%;
  }

  /* line 41, ../sass/cr_grid.scss */
  .cl-offset-4 {
    margin-left: inherit;
  }

  /* line 44, ../sass/cr_grid.scss */
  .cl-s-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 38, ../sass/cr_grid.scss */
  .cl-s-5 {
    width: 41.66667%;
  }

  /* line 41, ../sass/cr_grid.scss */
  .cl-offset-5 {
    margin-left: inherit;
  }

  /* line 44, ../sass/cr_grid.scss */
  .cl-s-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 38, ../sass/cr_grid.scss */
  .cl-s-6 {
    width: 50%;
  }

  /* line 41, ../sass/cr_grid.scss */
  .cl-offset-6 {
    margin-left: inherit;
  }

  /* line 44, ../sass/cr_grid.scss */
  .cl-s-offset-6 {
    margin-left: 50%;
  }

  /* line 38, ../sass/cr_grid.scss */
  .cl-s-7 {
    width: 58.33333%;
  }

  /* line 41, ../sass/cr_grid.scss */
  .cl-offset-7 {
    margin-left: inherit;
  }

  /* line 44, ../sass/cr_grid.scss */
  .cl-s-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 38, ../sass/cr_grid.scss */
  .cl-s-8 {
    width: 66.66667%;
  }

  /* line 41, ../sass/cr_grid.scss */
  .cl-offset-8 {
    margin-left: inherit;
  }

  /* line 44, ../sass/cr_grid.scss */
  .cl-s-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 38, ../sass/cr_grid.scss */
  .cl-s-9 {
    width: 75%;
  }

  /* line 41, ../sass/cr_grid.scss */
  .cl-offset-9 {
    margin-left: inherit;
  }

  /* line 44, ../sass/cr_grid.scss */
  .cl-s-offset-9 {
    margin-left: 75%;
  }

  /* line 38, ../sass/cr_grid.scss */
  .cl-s-10 {
    width: 83.33333%;
  }

  /* line 41, ../sass/cr_grid.scss */
  .cl-offset-10 {
    margin-left: inherit;
  }

  /* line 44, ../sass/cr_grid.scss */
  .cl-s-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 38, ../sass/cr_grid.scss */
  .cl-s-11 {
    width: 91.66667%;
  }

  /* line 41, ../sass/cr_grid.scss */
  .cl-offset-11 {
    margin-left: inherit;
  }

  /* line 44, ../sass/cr_grid.scss */
  .cl-s-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 38, ../sass/cr_grid.scss */
  .cl-s-12 {
    width: 100%;
  }

  /* line 41, ../sass/cr_grid.scss */
  .cl-offset-12 {
    margin-left: inherit;
  }

  /* line 44, ../sass/cr_grid.scss */
  .cl-s-offset-12 {
    margin-left: 100%;
  }
}
@media screen and (max-width: 460px) {
  /* line 52, ../sass/cr_grid.scss */
  .cl-xs-1 {
    width: 8.33333%;
  }

  /* line 55, ../sass/cr_grid.scss */
  .cl-offset-1 {
    margin-left: inherit;
  }

  /* line 58, ../sass/cr_grid.scss */
  .cl-xs-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 52, ../sass/cr_grid.scss */
  .cl-xs-2 {
    width: 16.66667%;
  }

  /* line 55, ../sass/cr_grid.scss */
  .cl-offset-2 {
    margin-left: inherit;
  }

  /* line 58, ../sass/cr_grid.scss */
  .cl-xs-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 52, ../sass/cr_grid.scss */
  .cl-xs-3 {
    width: 25%;
  }

  /* line 55, ../sass/cr_grid.scss */
  .cl-offset-3 {
    margin-left: inherit;
  }

  /* line 58, ../sass/cr_grid.scss */
  .cl-xs-offset-3 {
    margin-left: 25%;
  }

  /* line 52, ../sass/cr_grid.scss */
  .cl-xs-4 {
    width: 33.33333%;
  }

  /* line 55, ../sass/cr_grid.scss */
  .cl-offset-4 {
    margin-left: inherit;
  }

  /* line 58, ../sass/cr_grid.scss */
  .cl-xs-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 52, ../sass/cr_grid.scss */
  .cl-xs-5 {
    width: 41.66667%;
  }

  /* line 55, ../sass/cr_grid.scss */
  .cl-offset-5 {
    margin-left: inherit;
  }

  /* line 58, ../sass/cr_grid.scss */
  .cl-xs-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 52, ../sass/cr_grid.scss */
  .cl-xs-6 {
    width: 50%;
  }

  /* line 55, ../sass/cr_grid.scss */
  .cl-offset-6 {
    margin-left: inherit;
  }

  /* line 58, ../sass/cr_grid.scss */
  .cl-xs-offset-6 {
    margin-left: 50%;
  }

  /* line 52, ../sass/cr_grid.scss */
  .cl-xs-7 {
    width: 58.33333%;
  }

  /* line 55, ../sass/cr_grid.scss */
  .cl-offset-7 {
    margin-left: inherit;
  }

  /* line 58, ../sass/cr_grid.scss */
  .cl-xs-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 52, ../sass/cr_grid.scss */
  .cl-xs-8 {
    width: 66.66667%;
  }

  /* line 55, ../sass/cr_grid.scss */
  .cl-offset-8 {
    margin-left: inherit;
  }

  /* line 58, ../sass/cr_grid.scss */
  .cl-xs-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 52, ../sass/cr_grid.scss */
  .cl-xs-9 {
    width: 75%;
  }

  /* line 55, ../sass/cr_grid.scss */
  .cl-offset-9 {
    margin-left: inherit;
  }

  /* line 58, ../sass/cr_grid.scss */
  .cl-xs-offset-9 {
    margin-left: 75%;
  }

  /* line 52, ../sass/cr_grid.scss */
  .cl-xs-10 {
    width: 83.33333%;
  }

  /* line 55, ../sass/cr_grid.scss */
  .cl-offset-10 {
    margin-left: inherit;
  }

  /* line 58, ../sass/cr_grid.scss */
  .cl-xs-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 52, ../sass/cr_grid.scss */
  .cl-xs-11 {
    width: 91.66667%;
  }

  /* line 55, ../sass/cr_grid.scss */
  .cl-offset-11 {
    margin-left: inherit;
  }

  /* line 58, ../sass/cr_grid.scss */
  .cl-xs-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 52, ../sass/cr_grid.scss */
  .cl-xs-12 {
    width: 100%;
  }

  /* line 55, ../sass/cr_grid.scss */
  .cl-offset-12 {
    margin-left: inherit;
  }

  /* line 58, ../sass/cr_grid.scss */
  .cl-xs-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 781px) {
  /* line 65, ../sass/cr_grid.scss */
  .cl-0 {
    display: none !important;
  }
}
@media (min-width: 460px) and (max-width: 780px) {
  /* line 71, ../sass/cr_grid.scss */
  .cl-s-0 {
    display: none !important;
  }
}
@media (max-width: 460px) {
  /* line 77, ../sass/cr_grid.scss */
  .cl-xs-0 {
    display: none !important;
  }
}
/* line 2, ../sass/cr_nav.scss */
.nav-bar {
  list-style: none;
  padding: 15px;
}

/* line 6, ../sass/cr_nav.scss */
.nav-left {
  display: inline-block;
}

/* line 9, ../sass/cr_nav.scss */
.nav-right {
  float: right !important;
}

/* line 13, ../sass/cr_nav.scss */
.nav-bar > li {
  position: relative;
  display: block;
}

@media (min-width: 768px) {
  /* line 19, ../sass/cr_nav.scss */
  .nav-right {
    float: right;
    /*margin-right: -15px;*/
  }

  /* line 23, ../sass/cr_nav.scss */
  .nav-bar > li {
    float: left;
  }
}
/* line 28, ../sass/cr_nav.scss */
.brand-logo {
  vertical-align: middle;
}

/* line 32, ../sass/cr_nav.scss */
.brand-logo-text {
  margin-left: 10px;
}

/* line 36, ../sass/cr_nav.scss */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* line 43, ../sass/cr_nav.scss */
.container-off {
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 768px) {
  /* line 49, ../sass/cr_nav.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 54, ../sass/cr_nav.scss */
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 59, ../sass/cr_nav.scss */
  .container {
    width: 1170px;
  }
}
/* Things to config */
/* 1.6em; 16 x 1 = 16px */
/* for variables */
/* line 3, ../sass/cr_skins.scss */
.box {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 12px;
}

/* line 12, ../sass/cr_skins.scss */
.danger {
  background-color: rgba(212, 13, 18, 0.2);
  border-color: rgba(148, 9, 13, 0.5);
  color: #D8000C;
}

/* line 19, ../sass/cr_skins.scss */
.warning {
  background-color: rgba(214, 119, 0, 0.2);
  border-color: rgba(214, 119, 0, 0.5);
  color: #B87928;
}

/* line 26, ../sass/cr_skins.scss */
.success {
  background-color: rgba(10, 164, 6, 0.2);
  border-color: rgba(7, 139, 2, 0.5);
  color: rgba(0, 0, 0, 0.6);
}

/* line 33, ../sass/cr_skins.scss */
.inform {
  background-color: #F8F8F9;
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.87);
}

/* line 39, ../sass/cr_skins.scss */
.inform-blue {
  background-color: #F8FFFF;
  border-color: #A9D5DE;
  color: #276F86;
}

/* line 46, ../sass/cr_skins.scss */
.butt {
  border-radius: .28571429rem;
  padding: 0.65em 2.4em;
  border: none;
}

/* line 51, ../sass/cr_skins.scss */
.butt-big {
  display: inline-block;
  text-decoration: none;
  border: none;
  padding: 0.6457em 0.92857143em;
  font-size: 1.4em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: .25em;
  color: #000;
}
/* line 65, ../sass/cr_skins.scss */
.butt-big:focus {
  background-color: rgba(0, 0, 0, 0.025);
}

/* line 71, ../sass/cr_skins.scss */
.butt-blue {
  background-color: #2B65EC;
  border: 1px solid #2B65EC;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #fff;
}
/* line 78, ../sass/cr_skins.scss */
.butt-blue:hover {
  background-color: #2B45EF;
  border: 1px solid #2B45EF;
}
/* line 82, ../sass/cr_skins.scss */
.butt-blue:focus {
  background-color: #6495ED;
  border: 1px solid #6495ED;
}

/* line 88, ../sass/cr_skins.scss */
.butt-space {
  margin: 0.7222rem;
  padding: 0.7222rem 1.4444rem;
}

/* line 92, ../sass/cr_skins.scss */
.butt-space-margin {
  margin: 0.7222rem;
}

/* line 95, ../sass/cr_skins.scss */
.butt-space-padding {
  padding: 0.7222rem 1.4444rem;
}

/* for variables */
/*
Pre-build classes to use
*/
/* line 6, ../sass/cr_utilities.scss */
.fit {
  width: 100%;
}

/* line 9, ../sass/cr_utilities.scss */
.clear {
  clear: both;
}

/* line 12, ../sass/cr_utilities.scss */
.clearfix {
  overflow: auto;
  zoom: 1;
}

/* line 16, ../sass/cr_utilities.scss */
.t-small {
  font-size: 70%;
}

/* line 19, ../sass/cr_utilities.scss */
.t-big {
  font-size: 130%;
}

/* line 22, ../sass/cr_utilities.scss */
.o-ellipsis {
  text-overflow: ellipsis;
}

/* line 25, ../sass/cr_utilities.scss */
.word-wrap-break {
  word-wrap: break-word;
}

/* line 28, ../sass/cr_utilities.scss */
.ma_space {
  margin: 15px;
}

/* line 31, ../sass/cr_utilities.scss */
.ma_reset {
  padding: 0 !important;
}

/* line 34, ../sass/cr_utilities.scss */
.pa_space {
  padding: 15px;
}

/* line 37, ../sass/cr_utilities.scss */
.pa_reset {
  padding: 0 !important;
}

/* line 40, ../sass/cr_utilities.scss */
.c_transparent {
  color: transparent;
}

/* line 43, ../sass/cr_utilities.scss */
.bg_transparent {
  background-color: transparent;
}

/* line 46, ../sass/cr_utilities.scss */
.bg_none {
  background-color: none;
}

/* line 50, ../sass/cr_utilities.scss */
.bo-c_transparent {
  border-color: transparent;
}

/*
 * Optimal readiblity is between 50 and 80 character per line. Trying to be in interval by setting 470px;
 */
/* line 57, ../sass/cr_utilities.scss */
.p-improved, .p-improved p {
  max-width: 470px;
  /* 1. (Change to your preferences) */
  word-wrap: break-word;
  word-break: break-word;
}

/* Alternative : <i></i> and <strong></strong>
    ================================================== */
/* line 65, ../sass/cr_utilities.scss */
.italic {
  font-style: italic;
}

/* line 68, ../sass/cr_utilities.scss */
.bold {
  font-weight: bold;
}

/* line 71, ../sass/cr_utilities.scss */
.bolder {
  font-weight: bolder;
}

/* line 74, ../sass/cr_utilities.scss */
.light {
  font-weight: light;
}

/* line 77, ../sass/cr_utilities.scss */
.lighter {
  font-weight: lighter;
}

/*
    Pre-build-css.

    Other utilities, as float, text, float, center a block, text-underline/uppercase/lowercase.
*/
/* float or center a block.
    ================================================== */
/* line 89, ../sass/cr_utilities.scss */
.fl_l {
  float: left;
}

/* line 92, ../sass/cr_utilities.scss */
.center {
  /* Have to be a block to work */
  margin: 0 auto;
}

/* line 96, ../sass/cr_utilities.scss */
.fl_r {
  float: right;
}

/* line 100, ../sass/cr_utilities.scss */
.fl_none {
  float: none;
}

/* pointer
    ================================================== */
/* line 106, ../sass/cr_utilities.scss */
.pointer {
  cursor: pointer;
}

/* text-decoration, text-transform.
    ================================================== */
/* line 112, ../sass/cr_utilities.scss */
.underline {
  text-decoration: underline;
}

/* line 115, ../sass/cr_utilities.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 118, ../sass/cr_utilities.scss */
.lowercase {
  text-transform: lowercase;
}

/* line 121, ../sass/cr_utilities.scss */
.capitalize {
  text-transform: capitalize;
}

/* visibility
    ================================================== */
/* line 127, ../sass/cr_utilities.scss */
.visible {
  visibility: visible;
}

/* line 130, ../sass/cr_utilities.scss */
.hidden {
  visibility: hidden;
}

/* border-radius
    ================================================== */
/* line 136, ../sass/cr_utilities.scss */
.round {
  border-radius: 12px;
}

/* line 139, ../sass/cr_utilities.scss */
.circle {
  border-radius: 50%;
}

/* display
    ================================================== */
/* line 144, ../sass/cr_utilities.scss */
.d_block {
  display: block;
}

/* line 147, ../sass/cr_utilities.scss */
.d_inline-block {
  display: inline-block;
}

/* line 150, ../sass/cr_utilities.scss */
.d_none {
  display: none;
}

/* line 153, ../sass/cr_utilities.scss */
.d_inline {
  display: inline;
}

/* Flex have to be prefixed. http://shouldiprefix.com/ */
/* line 158, ../sass/cr_utilities.scss */
.d_flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
}

/* line 164, ../sass/cr_utilities.scss */
.d_inline-flex {
  display: inline-flex;
}

/* ul li
    ================================================== */
/* line 170, ../sass/cr_utilities.scss */
ul.li-inline li {
  display: inline;
}

/* line 173, ../sass/cr_utilities.scss */
ul.li-reset li {
  list-style: none;
}

/* line 176, ../sass/cr_utilities.scss */
ul.li-tb-space li {
  margin-top: 13px;
  margin-bottom: 13px;
}

/* line 180, ../sass/cr_utilities.scss */
ul.li-rl-space li {
  margin-right: 13px;
  margin-left: 13px;
}

/* a reset default
    ================================================== */
/* line 188, ../sass/cr_utilities.scss */
.a_reset {
  text-decoration: none;
  color: #000;
}
/* line 191, ../sass/cr_utilities.scss */
.a_reset:hover {
  color: inherit;
}
/* line 194, ../sass/cr_utilities.scss */
.a_reset:hover, .a_reset:active {
  outline: none;
}
/* line 197, ../sass/cr_utilities.scss */
.a_reset:not(.default):link {
  color: black;
}
/* line 198, ../sass/cr_utilities.scss */
.a_reset:not(.default):visited {
  color: black;
}

/* line 200, ../sass/cr_utilities.scss */
.a-underline_reset, .a-underline_reset a {
  text-decoration: none;
}

/* line 203, ../sass/cr_utilities.scss */
.a-c_reset, .a-c_reset a {
  color: #000;
}
/* line 205, ../sass/cr_utilities.scss */
.a-c_reset:hover, .a-c_reset a:hover {
  color: inherit;
}

/* line 209, ../sass/cr_utilities.scss */
.a-c_black, .a-c_black a {
  color: #000;
}
/* line 211, ../sass/cr_utilities.scss */
.a-c_black:hover, .a-c_black a:hover {
  color: #000;
}

/* line 215, ../sass/cr_utilities.scss */
.a-c_white, .a-c_white a {
  color: #fff;
}
/* line 217, ../sass/cr_utilities.scss */
.a-c_white:hover, .a-c_white a:hover {
  color: #fff;
}

/* fonts
    ================================================== */
/* line 225, ../sass/cr_utilities.scss */
.serif {
  font-family: serif;
}

/* line 228, ../sass/cr_utilities.scss */
.times {
  font-family: 'Times', serif;
}

/* line 231, ../sass/cr_utilities.scss */
.times-new-roman {
  font-family: 'Times New Roman', serif;
}

/* line 234, ../sass/cr_utilities.scss */
.georgia {
  font-family: 'Georgia', serif;
}

/* line 239, ../sass/cr_utilities.scss */
.sans {
  font-family: sans-serif;
}

/* line 242, ../sass/cr_utilities.scss */
.arial {
  font-family: 'Arial', sans-serif;
}

/* line 245, ../sass/cr_utilities.scss */
.helvetica {
  font-family: 'Helvetica', sans-serif;
}

/* line 248, ../sass/cr_utilities.scss */
.helvetica-neue {
  font-family: 'Helvetica Neue', sans-serif;
}

/* text-align
    ================================================== */
/* line 254, ../sass/cr_utilities.scss */
.t_l {
  text-align: left;
}

/* line 257, ../sass/cr_utilities.scss */
.t_center {
  text-align: center;
}

/* line 260, ../sass/cr_utilities.scss */
.t_r {
  text-align: right;
}

/* line 263, ../sass/cr_utilities.scss */
.t_justify {
  text-align: justify;
}

/* line 266, ../sass/cr_utilities.scss */
.t_inherit {
  text-align: inherit;
}

/* vertical-align
    ================================================== */
/* line 273, ../sass/cr_utilities.scss */
.v_baseline {
  vertical-align: baseline;
}

/* line 276, ../sass/cr_utilities.scss */
.v_top {
  vertical-align: top;
}

/* line 279, ../sass/cr_utilities.scss */
.v_bottom {
  vertical-align: bottom;
}

/* line 282, ../sass/cr_utilities.scss */
.v_middle {
  vertical-align: middle;
}

/* line 285, ../sass/cr_utilities.scss */
.v_inherit {
  vertical-align: inherit;
}

/* overflow
    ================================================== */
/* line 291, ../sass/cr_utilities.scss */
.o_auto {
  overflow: auto;
}

/* line 294, ../sass/cr_utilities.scss */
.o_hidden {
  overflow: hidden;
}

/* line 297, ../sass/cr_utilities.scss */
.o_inherit {
  overflow: inherit;
}

/* line 300, ../sass/cr_utilities.scss */
.o_scroll {
  overflow: scroll;
}

/* line 303, ../sass/cr_utilities.scss */
.o_visible {
  overflow: visible;
}

/* position
    ================================================== */
/* line 309, ../sass/cr_utilities.scss */
.p_absolute {
  position: absolute;
}

/* line 312, ../sass/cr_utilities.scss */
.p_fixed {
  position: fixed;
}

/* line 315, ../sass/cr_utilities.scss */
.p_inherit {
  position: inherit;
}

/* line 318, ../sass/cr_utilities.scss */
.p_relative {
  position: relative;
}

/* line 321, ../sass/cr_utilities.scss */
.p_static {
  position: static;
}

/* line 324, ../sass/cr_utilities.scss */
.p_sticky {
  position: sticky;
}

/* for variables */
/* color
    ================================================== */
/* line 5, ../sass/cr_noClaCss.scss */
.c_blue {
  color: blue;
}

/* line 8, ../sass/cr_noClaCss.scss */
.c_white {
  color: #fff;
}

/* line 11, ../sass/cr_noClaCss.scss */
.c_grey {
  color: rgba(127, 137, 148, 0.6);
}

/* line 14, ../sass/cr_noClaCss.scss */
.c_black {
  color: #000;
}

/* line 17, ../sass/cr_noClaCss.scss */
.c_red {
  color: red;
}

/* line 20, ../sass/cr_noClaCss.scss */
.c_green {
  color: green;
}

/* background-color
    =================================================== */
/* line 27, ../sass/cr_noClaCss.scss */
.bg_white {
  background-color: #fff;
}

/* line 30, ../sass/cr_noClaCss.scss */
.bg_grey {
  background-color: rgba(127, 137, 148, 0.06);
}

/* line 33, ../sass/cr_noClaCss.scss */
.bg_black {
  background-color: #000;
}

/* font-weight
    =================================================== */
/* line 41, ../sass/cr_noClaCss.scss */
.f-weight_100 {
  font-weight: 100;
}

/* line 41, ../sass/cr_noClaCss.scss */
.f-weight_200 {
  font-weight: 200;
}

/* line 41, ../sass/cr_noClaCss.scss */
.f-weight_300 {
  font-weight: 300;
}

/* line 41, ../sass/cr_noClaCss.scss */
.f-weight_400 {
  font-weight: 400;
}

/* line 41, ../sass/cr_noClaCss.scss */
.f-weight_500 {
  font-weight: 500;
}

/* line 41, ../sass/cr_noClaCss.scss */
.f-weight_600 {
  font-weight: 600;
}

/* margin
    =================================================== */
/* line 51, ../sass/cr_noClaCss.scss */
.ma_0 {
  margin: 0;
}

/* line 55, ../sass/cr_noClaCss.scss */
.ma_5 {
  margin: 5px;
}

/* line 55, ../sass/cr_noClaCss.scss */
.ma_10 {
  margin: 10px;
}

/* line 55, ../sass/cr_noClaCss.scss */
.ma_15 {
  margin: 15px;
}

/* line 55, ../sass/cr_noClaCss.scss */
.ma_20 {
  margin: 20px;
}

/* line 55, ../sass/cr_noClaCss.scss */
.ma_25 {
  margin: 25px;
}

/* line 55, ../sass/cr_noClaCss.scss */
.ma_30 {
  margin: 30px;
}

/* line 55, ../sass/cr_noClaCss.scss */
.ma_35 {
  margin: 35px;
}

/* line 55, ../sass/cr_noClaCss.scss */
.ma_40 {
  margin: 40px;
}

/* line 55, ../sass/cr_noClaCss.scss */
.ma_45 {
  margin: 45px;
}

/* line 55, ../sass/cr_noClaCss.scss */
.ma_50 {
  margin: 50px;
}

/* line 63, ../sass/cr_noClaCss.scss */
.ma-l_5 {
  margin-left: 5px !important;
}
/* line 66, ../sass/cr_noClaCss.scss */
.ma-r_5 {
  margin-right: 5px !important;
}
/* line 69, ../sass/cr_noClaCss.scss */
.ma-t_5 {
  margin-top: 5px !important;
}
/* line 72, ../sass/cr_noClaCss.scss */
.ma-b_5 {
  margin-bottom: 5px !important;
}
/* line 75, ../sass/cr_noClaCss.scss */
.ma-rl_5 {
  margin-right: 5px !important;
  margin-left: 5px !important;
}
/* line 79, ../sass/cr_noClaCss.scss */
.ma-tb_5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

/* line 63, ../sass/cr_noClaCss.scss */
.ma-l_10 {
  margin-left: 10px !important;
}
/* line 66, ../sass/cr_noClaCss.scss */
.ma-r_10 {
  margin-right: 10px !important;
}
/* line 69, ../sass/cr_noClaCss.scss */
.ma-t_10 {
  margin-top: 10px !important;
}
/* line 72, ../sass/cr_noClaCss.scss */
.ma-b_10 {
  margin-bottom: 10px !important;
}
/* line 75, ../sass/cr_noClaCss.scss */
.ma-rl_10 {
  margin-right: 10px !important;
  margin-left: 10px !important;
}
/* line 79, ../sass/cr_noClaCss.scss */
.ma-tb_10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

/* line 63, ../sass/cr_noClaCss.scss */
.ma-l_15 {
  margin-left: 15px !important;
}
/* line 66, ../sass/cr_noClaCss.scss */
.ma-r_15 {
  margin-right: 15px !important;
}
/* line 69, ../sass/cr_noClaCss.scss */
.ma-t_15 {
  margin-top: 15px !important;
}
/* line 72, ../sass/cr_noClaCss.scss */
.ma-b_15 {
  margin-bottom: 15px !important;
}
/* line 75, ../sass/cr_noClaCss.scss */
.ma-rl_15 {
  margin-right: 15px !important;
  margin-left: 15px !important;
}
/* line 79, ../sass/cr_noClaCss.scss */
.ma-tb_15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

/* line 63, ../sass/cr_noClaCss.scss */
.ma-l_20 {
  margin-left: 20px !important;
}
/* line 66, ../sass/cr_noClaCss.scss */
.ma-r_20 {
  margin-right: 20px !important;
}
/* line 69, ../sass/cr_noClaCss.scss */
.ma-t_20 {
  margin-top: 20px !important;
}
/* line 72, ../sass/cr_noClaCss.scss */
.ma-b_20 {
  margin-bottom: 20px !important;
}
/* line 75, ../sass/cr_noClaCss.scss */
.ma-rl_20 {
  margin-right: 20px !important;
  margin-left: 20px !important;
}
/* line 79, ../sass/cr_noClaCss.scss */
.ma-tb_20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

/* line 63, ../sass/cr_noClaCss.scss */
.ma-l_25 {
  margin-left: 25px !important;
}
/* line 66, ../sass/cr_noClaCss.scss */
.ma-r_25 {
  margin-right: 25px !important;
}
/* line 69, ../sass/cr_noClaCss.scss */
.ma-t_25 {
  margin-top: 25px !important;
}
/* line 72, ../sass/cr_noClaCss.scss */
.ma-b_25 {
  margin-bottom: 25px !important;
}
/* line 75, ../sass/cr_noClaCss.scss */
.ma-rl_25 {
  margin-right: 25px !important;
  margin-left: 25px !important;
}
/* line 79, ../sass/cr_noClaCss.scss */
.ma-tb_25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

/* line 63, ../sass/cr_noClaCss.scss */
.ma-l_30 {
  margin-left: 30px !important;
}
/* line 66, ../sass/cr_noClaCss.scss */
.ma-r_30 {
  margin-right: 30px !important;
}
/* line 69, ../sass/cr_noClaCss.scss */
.ma-t_30 {
  margin-top: 30px !important;
}
/* line 72, ../sass/cr_noClaCss.scss */
.ma-b_30 {
  margin-bottom: 30px !important;
}
/* line 75, ../sass/cr_noClaCss.scss */
.ma-rl_30 {
  margin-right: 30px !important;
  margin-left: 30px !important;
}
/* line 79, ../sass/cr_noClaCss.scss */
.ma-tb_30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

/* line 63, ../sass/cr_noClaCss.scss */
.ma-l_35 {
  margin-left: 35px !important;
}
/* line 66, ../sass/cr_noClaCss.scss */
.ma-r_35 {
  margin-right: 35px !important;
}
/* line 69, ../sass/cr_noClaCss.scss */
.ma-t_35 {
  margin-top: 35px !important;
}
/* line 72, ../sass/cr_noClaCss.scss */
.ma-b_35 {
  margin-bottom: 35px !important;
}
/* line 75, ../sass/cr_noClaCss.scss */
.ma-rl_35 {
  margin-right: 35px !important;
  margin-left: 35px !important;
}
/* line 79, ../sass/cr_noClaCss.scss */
.ma-tb_35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

/* line 63, ../sass/cr_noClaCss.scss */
.ma-l_40 {
  margin-left: 40px !important;
}
/* line 66, ../sass/cr_noClaCss.scss */
.ma-r_40 {
  margin-right: 40px !important;
}
/* line 69, ../sass/cr_noClaCss.scss */
.ma-t_40 {
  margin-top: 40px !important;
}
/* line 72, ../sass/cr_noClaCss.scss */
.ma-b_40 {
  margin-bottom: 40px !important;
}
/* line 75, ../sass/cr_noClaCss.scss */
.ma-rl_40 {
  margin-right: 40px !important;
  margin-left: 40px !important;
}
/* line 79, ../sass/cr_noClaCss.scss */
.ma-tb_40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

/* line 63, ../sass/cr_noClaCss.scss */
.ma-l_45 {
  margin-left: 45px !important;
}
/* line 66, ../sass/cr_noClaCss.scss */
.ma-r_45 {
  margin-right: 45px !important;
}
/* line 69, ../sass/cr_noClaCss.scss */
.ma-t_45 {
  margin-top: 45px !important;
}
/* line 72, ../sass/cr_noClaCss.scss */
.ma-b_45 {
  margin-bottom: 45px !important;
}
/* line 75, ../sass/cr_noClaCss.scss */
.ma-rl_45 {
  margin-right: 45px !important;
  margin-left: 45px !important;
}
/* line 79, ../sass/cr_noClaCss.scss */
.ma-tb_45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

/* line 63, ../sass/cr_noClaCss.scss */
.ma-l_50 {
  margin-left: 50px !important;
}
/* line 66, ../sass/cr_noClaCss.scss */
.ma-r_50 {
  margin-right: 50px !important;
}
/* line 69, ../sass/cr_noClaCss.scss */
.ma-t_50 {
  margin-top: 50px !important;
}
/* line 72, ../sass/cr_noClaCss.scss */
.ma-b_50 {
  margin-bottom: 50px !important;
}
/* line 75, ../sass/cr_noClaCss.scss */
.ma-rl_50 {
  margin-right: 50px !important;
  margin-left: 50px !important;
}
/* line 79, ../sass/cr_noClaCss.scss */
.ma-tb_50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

/* padding
    =================================================== */
/* line 92, ../sass/cr_noClaCss.scss */
.pa_0 {
  padding: 0;
}

/* line 96, ../sass/cr_noClaCss.scss */
.pa_5 {
  padding: 5px;
}

/* line 96, ../sass/cr_noClaCss.scss */
.pa_10 {
  padding: 10px;
}

/* line 96, ../sass/cr_noClaCss.scss */
.pa_15 {
  padding: 15px;
}

/* line 96, ../sass/cr_noClaCss.scss */
.pa_20 {
  padding: 20px;
}

/* line 96, ../sass/cr_noClaCss.scss */
.pa_25 {
  padding: 25px;
}

/* line 96, ../sass/cr_noClaCss.scss */
.pa_30 {
  padding: 30px;
}

/* line 96, ../sass/cr_noClaCss.scss */
.pa_35 {
  padding: 35px;
}

/* line 96, ../sass/cr_noClaCss.scss */
.pa_40 {
  padding: 40px;
}

/* line 96, ../sass/cr_noClaCss.scss */
.pa_45 {
  padding: 45px;
}

/* line 104, ../sass/cr_noClaCss.scss */
.pa-l_5 {
  padding-left: 5px !important;
}
/* line 107, ../sass/cr_noClaCss.scss */
.pa-r_5 {
  padding-right: 5px !important;
}
/* line 110, ../sass/cr_noClaCss.scss */
.pa-t_5 {
  padding-top: 5px !important;
}
/* line 113, ../sass/cr_noClaCss.scss */
.pa-b_5 {
  padding-bottom: 5px !important;
}
/* line 116, ../sass/cr_noClaCss.scss */
.pa-rl_5 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}
/* line 120, ../sass/cr_noClaCss.scss */
.pa-tb_5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

/* line 104, ../sass/cr_noClaCss.scss */
.pa-l_10 {
  padding-left: 10px !important;
}
/* line 107, ../sass/cr_noClaCss.scss */
.pa-r_10 {
  padding-right: 10px !important;
}
/* line 110, ../sass/cr_noClaCss.scss */
.pa-t_10 {
  padding-top: 10px !important;
}
/* line 113, ../sass/cr_noClaCss.scss */
.pa-b_10 {
  padding-bottom: 10px !important;
}
/* line 116, ../sass/cr_noClaCss.scss */
.pa-rl_10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
/* line 120, ../sass/cr_noClaCss.scss */
.pa-tb_10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

/* line 104, ../sass/cr_noClaCss.scss */
.pa-l_15 {
  padding-left: 15px !important;
}
/* line 107, ../sass/cr_noClaCss.scss */
.pa-r_15 {
  padding-right: 15px !important;
}
/* line 110, ../sass/cr_noClaCss.scss */
.pa-t_15 {
  padding-top: 15px !important;
}
/* line 113, ../sass/cr_noClaCss.scss */
.pa-b_15 {
  padding-bottom: 15px !important;
}
/* line 116, ../sass/cr_noClaCss.scss */
.pa-rl_15 {
  padding-right: 15px !important;
  padding-left: 15px !important;
}
/* line 120, ../sass/cr_noClaCss.scss */
.pa-tb_15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

/* line 104, ../sass/cr_noClaCss.scss */
.pa-l_20 {
  padding-left: 20px !important;
}
/* line 107, ../sass/cr_noClaCss.scss */
.pa-r_20 {
  padding-right: 20px !important;
}
/* line 110, ../sass/cr_noClaCss.scss */
.pa-t_20 {
  padding-top: 20px !important;
}
/* line 113, ../sass/cr_noClaCss.scss */
.pa-b_20 {
  padding-bottom: 20px !important;
}
/* line 116, ../sass/cr_noClaCss.scss */
.pa-rl_20 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
/* line 120, ../sass/cr_noClaCss.scss */
.pa-tb_20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

/* line 104, ../sass/cr_noClaCss.scss */
.pa-l_25 {
  padding-left: 25px !important;
}
/* line 107, ../sass/cr_noClaCss.scss */
.pa-r_25 {
  padding-right: 25px !important;
}
/* line 110, ../sass/cr_noClaCss.scss */
.pa-t_25 {
  padding-top: 25px !important;
}
/* line 113, ../sass/cr_noClaCss.scss */
.pa-b_25 {
  padding-bottom: 25px !important;
}
/* line 116, ../sass/cr_noClaCss.scss */
.pa-rl_25 {
  padding-right: 25px !important;
  padding-left: 25px !important;
}
/* line 120, ../sass/cr_noClaCss.scss */
.pa-tb_25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

/* line 104, ../sass/cr_noClaCss.scss */
.pa-l_30 {
  padding-left: 30px !important;
}
/* line 107, ../sass/cr_noClaCss.scss */
.pa-r_30 {
  padding-right: 30px !important;
}
/* line 110, ../sass/cr_noClaCss.scss */
.pa-t_30 {
  padding-top: 30px !important;
}
/* line 113, ../sass/cr_noClaCss.scss */
.pa-b_30 {
  padding-bottom: 30px !important;
}
/* line 116, ../sass/cr_noClaCss.scss */
.pa-rl_30 {
  padding-right: 30px !important;
  padding-left: 30px !important;
}
/* line 120, ../sass/cr_noClaCss.scss */
.pa-tb_30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

/* line 104, ../sass/cr_noClaCss.scss */
.pa-l_35 {
  padding-left: 35px !important;
}
/* line 107, ../sass/cr_noClaCss.scss */
.pa-r_35 {
  padding-right: 35px !important;
}
/* line 110, ../sass/cr_noClaCss.scss */
.pa-t_35 {
  padding-top: 35px !important;
}
/* line 113, ../sass/cr_noClaCss.scss */
.pa-b_35 {
  padding-bottom: 35px !important;
}
/* line 116, ../sass/cr_noClaCss.scss */
.pa-rl_35 {
  padding-right: 35px !important;
  padding-left: 35px !important;
}
/* line 120, ../sass/cr_noClaCss.scss */
.pa-tb_35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

/* line 104, ../sass/cr_noClaCss.scss */
.pa-l_40 {
  padding-left: 40px !important;
}
/* line 107, ../sass/cr_noClaCss.scss */
.pa-r_40 {
  padding-right: 40px !important;
}
/* line 110, ../sass/cr_noClaCss.scss */
.pa-t_40 {
  padding-top: 40px !important;
}
/* line 113, ../sass/cr_noClaCss.scss */
.pa-b_40 {
  padding-bottom: 40px !important;
}
/* line 116, ../sass/cr_noClaCss.scss */
.pa-rl_40 {
  padding-right: 40px !important;
  padding-left: 40px !important;
}
/* line 120, ../sass/cr_noClaCss.scss */
.pa-tb_40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

/* line 104, ../sass/cr_noClaCss.scss */
.pa-l_45 {
  padding-left: 45px !important;
}
/* line 107, ../sass/cr_noClaCss.scss */
.pa-r_45 {
  padding-right: 45px !important;
}
/* line 110, ../sass/cr_noClaCss.scss */
.pa-t_45 {
  padding-top: 45px !important;
}
/* line 113, ../sass/cr_noClaCss.scss */
.pa-b_45 {
  padding-bottom: 45px !important;
}
/* line 116, ../sass/cr_noClaCss.scss */
.pa-rl_45 {
  padding-right: 45px !important;
  padding-left: 45px !important;
}
/* line 120, ../sass/cr_noClaCss.scss */
.pa-tb_45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

/* line 104, ../sass/cr_noClaCss.scss */
.pa-l_50 {
  padding-left: 50px !important;
}
/* line 107, ../sass/cr_noClaCss.scss */
.pa-r_50 {
  padding-right: 50px !important;
}
/* line 110, ../sass/cr_noClaCss.scss */
.pa-t_50 {
  padding-top: 50px !important;
}
/* line 113, ../sass/cr_noClaCss.scss */
.pa-b_50 {
  padding-bottom: 50px !important;
}
/* line 116, ../sass/cr_noClaCss.scss */
.pa-rl_50 {
  padding-right: 50px !important;
  padding-left: 50px !important;
}
/* line 120, ../sass/cr_noClaCss.scss */
.pa-tb_50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
