.row {
  width: 100%;
}

.row .center {
  margin: 0 auto;
  display: block;
  float: none;
}

.cl-1, .cl-s-1, .cl-xs-1, .cl-2, .cl-s-2, .cl-xs-2, .cl-3, .cl-s-3, .cl-xs-3, .cl-4, .cl-s-4, .cl-xs-4, .cl-5, .cl-s-5, .cl-xs-5, .cl-6, .cl-s-6, .cl-xs-6, .cl-7, .cl-s-7, .cl-xs-7, .cl-8, .cl-s-8, .cl-xs-8, .cl-9, .cl-s-9, .cl-xs-9, .cl-10, .cl-s-10, .cl-xs-10, .cl-11, .cl-s-11, .cl-xs-11, .cl-12, .cl-s-12, .cl-xs-12 {
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.cl-1 {
  width: 8.33333%;
}

.cl-offset-1 {
  margin-left: 8.33333%;
}

.cl-2 {
  width: 16.66667%;
}

.cl-offset-2 {
  margin-left: 16.66667%;
}

.cl-3 {
  width: 25%;
}

.cl-offset-3 {
  margin-left: 25%;
}

.cl-4 {
  width: 33.33333%;
}

.cl-offset-4 {
  margin-left: 33.33333%;
}

.cl-5 {
  width: 41.66667%;
}

.cl-offset-5 {
  margin-left: 41.66667%;
}

.cl-6 {
  width: 50%;
}

.cl-offset-6 {
  margin-left: 50%;
}

.cl-7 {
  width: 58.33333%;
}

.cl-offset-7 {
  margin-left: 58.33333%;
}

.cl-8 {
  width: 66.66667%;
}

.cl-offset-8 {
  margin-left: 66.66667%;
}

.cl-9 {
  width: 75%;
}

.cl-offset-9 {
  margin-left: 75%;
}

.cl-10 {
  width: 83.33333%;
}

.cl-offset-10 {
  margin-left: 83.33333%;
}

.cl-11 {
  width: 91.66667%;
}

.cl-offset-11 {
  margin-left: 91.66667%;
}

.cl-12 {
  width: 100%;
}

.cl-offset-12 {
  margin-left: 100%;
}

@media (max-width: 780px) {
  .cl-s-1 {
    width: 8.33333%;
  }

  .cl-offset-1 {
    margin-left: inherit;
  }

  .cl-s-offset-1 {
    margin-left: 8.33333%;
  }

  .cl-s-2 {
    width: 16.66667%;
  }

  .cl-offset-2 {
    margin-left: inherit;
  }

  .cl-s-offset-2 {
    margin-left: 16.66667%;
  }

  .cl-s-3 {
    width: 25%;
  }

  .cl-offset-3 {
    margin-left: inherit;
  }

  .cl-s-offset-3 {
    margin-left: 25%;
  }

  .cl-s-4 {
    width: 33.33333%;
  }

  .cl-offset-4 {
    margin-left: inherit;
  }

  .cl-s-offset-4 {
    margin-left: 33.33333%;
  }

  .cl-s-5 {
    width: 41.66667%;
  }

  .cl-offset-5 {
    margin-left: inherit;
  }

  .cl-s-offset-5 {
    margin-left: 41.66667%;
  }

  .cl-s-6 {
    width: 50%;
  }

  .cl-offset-6 {
    margin-left: inherit;
  }

  .cl-s-offset-6 {
    margin-left: 50%;
  }

  .cl-s-7 {
    width: 58.33333%;
  }

  .cl-offset-7 {
    margin-left: inherit;
  }

  .cl-s-offset-7 {
    margin-left: 58.33333%;
  }

  .cl-s-8 {
    width: 66.66667%;
  }

  .cl-offset-8 {
    margin-left: inherit;
  }

  .cl-s-offset-8 {
    margin-left: 66.66667%;
  }

  .cl-s-9 {
    width: 75%;
  }

  .cl-offset-9 {
    margin-left: inherit;
  }

  .cl-s-offset-9 {
    margin-left: 75%;
  }

  .cl-s-10 {
    width: 83.33333%;
  }

  .cl-offset-10 {
    margin-left: inherit;
  }

  .cl-s-offset-10 {
    margin-left: 83.33333%;
  }

  .cl-s-11 {
    width: 91.66667%;
  }

  .cl-offset-11 {
    margin-left: inherit;
  }

  .cl-s-offset-11 {
    margin-left: 91.66667%;
  }

  .cl-s-12 {
    width: 100%;
  }

  .cl-offset-12 {
    margin-left: inherit;
  }

  .cl-s-offset-12 {
    margin-left: 100%;
  }
}
@media screen and (max-width: 460px) {
  .cl-xs-1 {
    width: 8.33333%;
  }

  .cl-offset-1 {
    margin-left: inherit;
  }

  .cl-xs-offset-1 {
    margin-left: 8.33333%;
  }

  .cl-xs-2 {
    width: 16.66667%;
  }

  .cl-offset-2 {
    margin-left: inherit;
  }

  .cl-xs-offset-2 {
    margin-left: 16.66667%;
  }

  .cl-xs-3 {
    width: 25%;
  }

  .cl-offset-3 {
    margin-left: inherit;
  }

  .cl-xs-offset-3 {
    margin-left: 25%;
  }

  .cl-xs-4 {
    width: 33.33333%;
  }

  .cl-offset-4 {
    margin-left: inherit;
  }

  .cl-xs-offset-4 {
    margin-left: 33.33333%;
  }

  .cl-xs-5 {
    width: 41.66667%;
  }

  .cl-offset-5 {
    margin-left: inherit;
  }

  .cl-xs-offset-5 {
    margin-left: 41.66667%;
  }

  .cl-xs-6 {
    width: 50%;
  }

  .cl-offset-6 {
    margin-left: inherit;
  }

  .cl-xs-offset-6 {
    margin-left: 50%;
  }

  .cl-xs-7 {
    width: 58.33333%;
  }

  .cl-offset-7 {
    margin-left: inherit;
  }

  .cl-xs-offset-7 {
    margin-left: 58.33333%;
  }

  .cl-xs-8 {
    width: 66.66667%;
  }

  .cl-offset-8 {
    margin-left: inherit;
  }

  .cl-xs-offset-8 {
    margin-left: 66.66667%;
  }

  .cl-xs-9 {
    width: 75%;
  }

  .cl-offset-9 {
    margin-left: inherit;
  }

  .cl-xs-offset-9 {
    margin-left: 75%;
  }

  .cl-xs-10 {
    width: 83.33333%;
  }

  .cl-offset-10 {
    margin-left: inherit;
  }

  .cl-xs-offset-10 {
    margin-left: 83.33333%;
  }

  .cl-xs-11 {
    width: 91.66667%;
  }

  .cl-offset-11 {
    margin-left: inherit;
  }

  .cl-xs-offset-11 {
    margin-left: 91.66667%;
  }

  .cl-xs-12 {
    width: 100%;
  }

  .cl-offset-12 {
    margin-left: inherit;
  }

  .cl-xs-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 781px) {
  .cl-0 {
    display: none !important;
  }
}
@media (min-width: 460px) and (max-width: 780px) {
  .cl-s-0 {
    display: none !important;
  }
}
@media (max-width: 460px) {
  .cl-xs-0 {
    display: none !important;
  }
}
